<a href="https://colab.research.google.com/github/nghiemduongkhai/BT_Python/blob/main/Python_BT_Buoi6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tuple**

1. to create a tuple of numbers and print one item.
2. to unpack a tuple into several variables.
3. to add an item to a tuple.
4. to find the index of an item in a tuple.
5. to find the repeated items of a tuple

In [1]:
numbers = (1, 2, 3, 4, 5)
print(numbers[2])

3

In [7]:
num = (1, 2)
a, b = num
print(a)
print(b)

1
2

In [8]:
num = (1, 2, 3)
new_num = 4
num += (new_num,)
print(num)

(1, 2, 3, 4)

In [10]:
num = ("một", "hai", "ba")
index = num.index("hai")
print(index)

1

In [12]:
num = (1, 2, 4, 5, 2, 1, 3, 4)
repeated = set([item for item in num if num.count(item) > 1])
print(repeated)

{1, 2, 4}

**Set**

1. Write a Python program to find the maximum and minimum values in a set.
2. Write a Python program to check if a given value is present in a set or not.
3. Write a Python program to check if two given sets have no elements in common.
4. Write a Python program to find all the unique words and count the frequency of occurrence from a given list of strings. Use Python set data type.
5. Given two sets of numbers, write a Python program to find the missing numbers in the second set as compared to the first and vice versa. Use the Python set.

In [17]:
num = {1, 2, 3, 4, 5}
print(f"Max: {max(num)}")
print(f"Min: {min(num)}")

value = int(input("Enter a value: "))
if value in num:
    print("Present")
else:
    print("Not present")

Max: 5
Min: 1
Enter a value: 8
Not present

In [19]:
set_1 = {1, 2, 3, 5}
set_2 = {6, 8, 7}
if set_1.isdisjoint(set_2):
    print("No elements in common")
else:
    print("Has elements in common")

No elements in common

In [26]:
num = ["một", "hai", "ba", "một", "bốn", "một"]
unique_words = set(num)
print("Unique words:", unique_words)

for word in unique_words:
    count = num.count(word)
    print(f"{word}: {count} times")

Unique words: {'ba', 'một', 'bốn', 'hai'}
ba: 1 times
một: 3 times
bốn: 1 times
hai: 1 times

In [28]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {4, 5, 6, 7}
missing_in_1 = set_2 - set_1
missing_in_2 = set_1 - set_2

print("Missing in set 1:", missing_in_1)
print("Missing in set 2:", missing_in_2)

Missing in set 1: {6, 7}
Missing in set 2: {1, 2, 3}

**Dict**

Write python program:
1. Convert two lists into a dictionary
2. Merge two Python dictionaries into one
3. Print the value of key ‘history’ from the below dict
4. Initialize dictionary with default values
5. Create a dictionary by extracting the keys from a given dictionary
6. Delete a list of keys from a dictionary
7. Check if a value exists in a dictionary
8. Rename key of a dictionary
9. Get the key of a minimum value from the following dictionary
10. Change value of a key in a nested dictionary
11. Counts the number of times characters appear in a text paragraph.
12. Using a dictionary containing keys starting from 1 and values ​​containing prime numbers less than a value N.

In [38]:
#1.
keys = ['name', 'age', 'gender']
values = ['An', 21, 'male']
person = dict(zip(keys, values))
print("1. Dictionary from two lists:", person)
#2.
dict_1 = {'a': 1, 'b': 2}
dict_2 = {'c': 3, 'd': 4}
merged = {**dict_1, **dict_2}
print("2. Merged dictionary:", merged)
#3.
sample = {'history': 9, 'math': 10}
print("3. Value of 'history':", sample['history'])
#4
keys = ['a', 'b', 'c']
default_value = 0
my_dict = dict.fromkeys(keys, default_value)
print("4. Initialized dict:", my_dict)
#5
original_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
extracted_keys = ['b', 'c']
extracted_dict = {key: original_dict[key] for key in extracted_keys}
print("5. Extracted dict:", extracted_dict)
#6
original_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
keys_to_delete = ['a', 'c']
for key in keys_to_delete:
    if key in original_dict:
        original_dict.pop(key, None)
print("6. Dictionary after deleting keys:", original_dict)

1. Dictionary from two lists: {'name': 'An', 'age': 21, 'gender': 'male'}
2. Merged dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}
3. Value of 'history': 9
4. Initialized dict: {'a': 0, 'b': 0, 'c': 0}
5. Extracted dict: {'b': 2, 'c': 3}
6. Dictionary after deleting keys: {'b': 2, 'd': 4}

**Restructuring the company data:**

Suppose you have a dictionary that contains information about employees at a company. Each employee is identified by an ID number, and their information includes their name, department, and salary. You want to create a nested dictionary that groups employees by department so that you can easily see the names and salaries of all employees in each department.

Write a Python program that when given a dictionary, employees, outputs a nested dictionary, dept_employees, which groups employees by department.