<a href="https://colab.research.google.com/github/nghiemduongkhai/BT_Python/blob/main/Python_BT_Buoi5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Write a Python program to sum all the items in a list.

In [1]:
list1 = [1,2,3,4,5]
sum(list1)

15

# 2. Write a Python program to multiply all the items in a list.

In [2]:
list2 = [1,2,3,4,5]
result = 1
for i in list2:
  result = result * i
print(result)

120

# 3. Write a Python program to get the largest number from a list.

In [4]:
list3 = [1,2,3,4,5,9]
max(list3)

9

# 4. Write a Python program to get the smallest number from a list.

In [6]:
list4 = [2,3,4,5,9]
min(list4)

2

# 5. Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.
Sample List : ['abc', 'xyz', 'aba', '1221']

Expected Result : 2

In [8]:
list5 = ['abc', 'xyz', 'aba', '1221']
count = 0
for i in list5:
  if len(i) >= 2 and i[0] == i[-1]:
    count += 1
print(count)

2